/*RESET STYLESHEET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  background-color: #e4c1f9;
  font-family: "Bebas Neue", cursive;
}
.container {
  margin-top: 3rem;
  text-align: center;
}
/*************
Sections
*************/
.container {
  margin: 2rem auto;
  width: 70%;
}
/*title*/
#title-winner {
  color: #523140;
  font-size: 6.5rem;
  margin-bottom: 10rem;
}
/*dices*/
#dices {
  display: flex;
  justify-content: space-evenly;
}
/*footer*/
footer {
  margin-top: 8rem;
}
.git {
  margin-left: 0.2rem;
  text-decoration: none;
  color: #523140;
  font-family: 'Pacifico', cursive;
}
.git:hover {
  color: #ff99c8;
}
/**********
Typography
***********/
.player,.player1,.player2 {
  font-size: 2.5rem;
  color: #af6988;
}
.player1,
.player2 {
  font-family: "Pacifico", cursive;
  color: #8b395e;
}
span {
  color: #af6988;
}
/***********
Button
***********/
.btn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  color: #000000;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
  font-weight: 900;
  background: #fec8c3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #af6988;
  text-decoration: none;
}
.button {
  margin-top: 3rem;
}

/*******
Images
********/
.dice-img {
  max-width: 90%;
}
